.main-gallery {
    height: max-content;
    width: 100%;
}


.heading-gallery {
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 4rem;
}

.heading-gallery span {
    font-family: round;
    text-transform: uppercase;
}

.gallery {
    background: url(/src/assets/gallery-bg.png) no-repeat;
    background-size: contain;
}

.gallery .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}

@media (max-width:600px) {
    .gallery .gallery-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap: 2rem;
    }
}

.gallery .gallery-container .box {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.gallery .gallery-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .gallery-container .box:hover img {
    transform: scale(1.1);
}

.gallery .gallery-container .box .icon {
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .4);
    display: none;
}

.gallery .gallery-container .box .icon svg {
    height: 6rem;
    color: var(--white);
}

.gallery .gallery-container .box:hover .icon {
    display: flex;
}