:root {
    --selective-yellow: hsl(42, 94%, 55%);
    --eerie-black-1: hsl(0, 0%, 9%);
    --eerie-black-2: hsl(180, 3%, 7%);
    --quick-silver: hsl(0, 0%, 65%);
    --radical-red: hsl(351, 83%, 61%);
    --light-gray: hsl(0, 0%, 80%);
    --isabelline: hsl(36, 33%, 94%);
    --gray-x-11: hsl(0, 0%, 73%);
    --kappel_15: hsla(170, 75%, 41%, 0.15);
    --platinum: hsl(0, 0%, 90%);
    --gray-web: hsl(0, 0%, 50%);
    --black_80: hsla(0, 0%, 0%, 0.8);
    --white_50: hsla(0, 0%, 100%, 0.5);
    --black_50: hsla(0, 0%, 0%, 0.5);
    --black_30: hsla(0, 0%, 0%, 0.3);
    --kappel: hsl(170, 75%, 41%);
    --white: hsl(0, 0%, 100%);

    /**
    * gradient color
    */

    --gradient: linear-gradient(-90deg, hsl(151, 58%, 46%) 0%, hsl(170, 75%, 41%) 100%);

    /**
    * typography
    */

    --ff-league_spartan: 'League Spartan', sans-serif;
    --ff-poppins: round;

    --fs-1: 4.2rem;
    --fs-2: 3.2rem;
    --fs-3: 2.3rem;
    --fs-4: 1.8rem;
    --fs-5: 1.5rem;
    --fs-6: 1.4rem;
    --fs-7: 1.3rem;

    --fw-500: 500;
    --fw-600: 600;

    /**
    * spacing
    */

    --section-padding: 75px;

    /**
    * shadow
    */

    --shadow-1: 0 6px 15px 0 hsla(0, 0%, 0%, 0.05);
    --shadow-2: 0 10px 30px hsla(0, 0%, 0%, 0.06);
    --shadow-3: 0 10px 50px 0 hsla(220, 53%, 22%, 0.1);

    /**
    * radius
    */

    --radius-pill: 500px;
    --radius-circle: 50%;
    --radius-3: 3px;
    --radius-5: 5px;
    --radius-10: 10px;

    /**
    * transition
    */

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}










::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 70%);
}





.btn {
    background-color: #7600FF;
    color: #fff;
    font-family: var(--ff-poppins);
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: max-content;
    padding: 8px 20px !important;
    border-radius: 12px;
    overflow: hidden;
}

.btn svg {
    height: 25px;
}






/*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/

.header .btn {
    display: none;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    padding-block: 12px;
    box-shadow: var(--shadow-1);
    z-index: 4;
    font-family: var(--ff-poppins);
    font-weight: 100;
    overflow: hidden;
}

.header.active {
    position: fixed;
}

.header .container .logo img {
    height: 80px;
}

.header .container,
.header-actions,
.navbar .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-right: 10px;
}

.header-action-btn svg,
.nav-close-btn svg {
    position: relative;
    font-size: 24px;
    height: 50px;
    transition: var(--transition-1);
}

.header-action-btn:is(:hover, :focus) {
    color: #7600FF;
}

.header-action-btn .btn-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: var(--kappel);
    color: var(--white);
    font-family: var(--ff-league_spartan);
    font-size: var(--fs-6);
    min-width: 20px;
    height: 20px;
    border-radius: var(--radius-circle);
}

.navbar {
    position: fixed;
    top: 0;
    left: -320px;
    background-color: var(--white);
    width: 100%;
    max-width: 320px;
    height: 100%;
    z-index: 2;
    transition: 0.25s var(--cubic-in);
}

.navbar.active {
    transform: translateX(320px);
    transition: 0.5s var(--cubic-out);
}

.navbar .wrapper {
    padding: 15px 10px;
    border-block-end: 1px solid var(--platinum);
}

.nav-close-btn {
    background-color: var(--white);
    box-shadow: var(--shadow-2);
    padding: 8px;
    border-radius: var(--radius-circle);
}

.nav-close-btn:is(:hover, :focus) {
    background-color: var(--kappel);
    color: var(--white);
}

.navbar-list {
    padding: 30px 20px;

}

.navbar-item {
    padding-bottom: 10px;
}


.navbar-link {
    font-size: 1.1rem;
    padding-block: 8px;
    font-weight: 600;
    transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) {
    color: #7600FF;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: var(--black_80);
    pointer-events: none;
    opacity: 0;
    z-index: 1;
    transition: var(--transition-1);
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}




@media (min-width: 575px) {



    /**
     * HEADER
     */

    .header .container {
        max-width: unset;
    }

    .header-actions {
        gap: 30px;
    }



}




@media (min-width: 768px) {




    /**
     * HEADER
     */

    .header .container {
        padding-inline: 30px;
    }

    .header .btn {
        display: flex;
        padding: 10px 30px;
        margin-inline: 20px;
    }

}





@media (min-width: 1200px) {

    /**
     * HEADER
     */

    .header-action-btn:last-child,
    .navbar .wrapper,
    .overlay {
        display: none;
    }

    .header.active {
        transform: translateY(-100%);
        animation: slideIn 0.5s ease forwards;
    }

    @keyframes slideIn {
        0% {
            transform: translateY(-100%);
        }

        100% {
            transform: translateY(0);
        }
    }

    .navbar,
    .navbar.active {
        all: unset;
    }

    .navbar-list {
        display: flex;
        gap: 50px;
        padding: 0;
    }

    .navbar-item:not(:last-child) {
        border-block-end: none;
    }

    .navbar-link {
        color: var(--eerie-black-1);
        padding-block: 20px;
    }

    .header .btn {
        margin-inline-end: 0;
    }

}