.main-education {
    height: max-content;
    width: 100%;
    padding-block: 30px;
    padding-inline: 30px;
    background-image: url(/src/assets/video-shape-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.heading-eductaion {
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 10rem;
    margin-bottom: 4rem;
}

.heading-eductaion span {
    font-family: round;
    text-transform: uppercase;
}

.education .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.education .box-container .box {
    background: var(--white);
    border-radius: 2rem;
    box-shadow: var(--box-shadow);
    outline: .1rem solid #fff;
    outline-offset: -1rem;
    overflow: hidden;
}

.education .box-container .box:hover img {
    transform: scale(1.1);
}

.education .box-container .box:nth-child(odd) {
    background: #fff;
    color: #000;
}

.education .box-container .box:nth-child(2) {
    background: #fff;
    color: #000;
}

.education .box-container .box h3 {
    font-family: round;
    font-size: 4rem;
    line-height: 1.2;
    padding-top: 3rem;
    padding-left: 2rem;
    text-align: center;
}

.education .box-container .box p {
    font-family: round;
    color: rgb(84, 80, 80);
    font-size: 1.4rem;
    line-height: 1.9;
    padding: 2rem 2rem;
}

.education .box-container .box img {
    width: 100%;
    height: 65%;
}