.main-footer{
    height: max-content;
    padding-top: 40px;
}
.footer {
    background: #fff;
    padding: 30px;
}

.footer .box-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: #000;
    padding: 1rem 0;
}



.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    color: #000;
    padding: 1rem 0;
    font-family: round;
}

.footer .box-container .box a:hover {
    color: #7600FF;
}

.footer .box-container .box a i {
    padding-right: .5rem;
    color: var(--orange);
}

.footer .credit {
    margin-top: 2.5rem;
    padding: 1rem;
    padding-top: 2rem;
    border-top: .1rem solid rgba(0, 0, 0, .3);
    text-align: center;
    color: #000;
    font-size: 2rem;
    font-family: round;
}

.footer .credit span {
    color: #7600FF;
}