@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: round;
    src: url(/src/assets/Typo_Round_Regular_Demo.otf);
}

@font-face {
    font-family: via;
    src: url(/src/assets/Viafont.otf);
}

.round{
    font-family: round;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    /* border: none; */
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}